.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.modalContent {
    background: white;
    width: 800px;
    padding: 70px 40px;
    border: 1px solid black;
}

.inputTitle {
    font-size: 26px;
    text-align: center;
}

.input {
    background-color: #f4f4f4;
    border: none;
    flex: 1;
    margin-left: 8px;
    padding: 16px 12px;
}
.input:focus {
    outline: none;
}

.modalContent h2 {
    margin-top: 0;
}

.dropdowns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}

.dropdown {
    width: 82px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: #f4f4f4;
}

.textarea {
    width: 100%;
    margin-bottom: 20px;
}

.submitButton {
    width: 100%;
    padding: 16px;
    background-color: #1c3c29;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 24px;
}

.submitButton:hover {
    background-color: darkgreen;
}
