.calendarContainer {
    width: auto;
    height: 850px;
    margin: 30px 130px;
    border: 2px solid #ffffff;
    background: #ffffff66;
    font-family: 'SUIT', sans-serif;
    padding: 30px 50px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    font-family: 'SUIT', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 57.6px */
    letter-spacing: -0.72px;
}

.header_arrow_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header_arrow_button img {
    object-fit: contain;
}

.header_arrow_button_right {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header_arrow_button_right img {
    object-fit: contain;
    transform: rotate(180deg);
}

.monthDisplay {
    font-size: 24px;
    margin: 0 24px;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.day {
    text-align: left;
    /* width: 166px; */
    height: 110px;
    flex-shrink: 0;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    padding: 10px;
    cursor: pointer;
}
.day:nth-child(7n) {
    border-right: none;
    color: #0000ff;
}
.day:nth-child(7n-6) {
    color: #ff0000;
}
.day_notActive {
    text-align: left;
    /* width: 166px; */
    height: 110px;
    flex-shrink: 0;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    padding: 10px;
    cursor: pointer;
    color: #00000066;
}
.day_notActive:nth-child(7n) {
    border-right: none;
    color: #0000ff66;
}
.day_notActive:nth-child(7n-6) {
    color: #ff000066;
}

.day:hover {
    background-color: #f0f0f0;
}

.weekday {
    background-color: #d1ffe3;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #757575;
}

.listTitleContainer {
    width: auto;
    margin: 30px 130px;
}

.listContainer {
    margin: 120px;
    padding: 10px;
    background: #00a24199;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.listItemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItem {
    margin: 10px 0;
    padding: 8px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
}
.listItem_Content {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 8px 0;
}
.listText {
    float: left;
    color: #000;
    font-family: 'SUIT', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}

.listButton {
    float: right;
    color: white;
    font-family: 'SUIT', sans-serif;
    width: 132px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #1c3c29b3;
    border: none;
    font-size: 16px;
    font-style: normal;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}

.listModalButton {
    float: right;
    border: none;
    color: #757575;
    font-family: 'SUIT', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -0.4px;
    text-decoration-line: underline;
}
