.calendarContainer {
    width: auto;
    height: 850px;
    margin: 30px 130px;
    border: 2px solid #ffffff;
    background: #ffffff66;
    font-family: 'SUIT', sans-serif;
    padding: 30px 50px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    font-family: 'SUIT', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 57.6px */
    letter-spacing: -0.72px;
}

.header_arrow_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header_arrow_button img {
    object-fit: contain;
}

.header_arrow_button_right {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header_arrow_button_right img {
    object-fit: contain;
    transform: rotate(180deg);
}

.monthDisplay {
    font-size: 24px;
    margin: 0 24px;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-top: 1px solid #ccc;
}

.day {
    text-align: left;
    /* width: 166px; */
    height: 110px;
    flex-shrink: 0;
    border-bottom: 1px solid #f4f4f4;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.day:hover {
    background-color: #f0f0f0;
}

.weekday {
    background-color: #f3f3f3;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.listContainer {
    margin: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.listItem {
    margin: 10px 0;
    padding: 8px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.listText {
    float: left;
    color: #000;
    font-family: 'SUIT', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 44.8px */
    letter-spacing: -0.56px;
    margin: 40px 40px 40px 40px;
}

.listButton {
    margin-top: 55px;
    margin-right: 40px;
    float: right;
    color: #757575;
    font-family: 'SUIT', sans-serif;
    width: 132px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #d9d9d9;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}

.listModalButton {
    float: right;
    border: none;
    color: #757575;
    font-family: 'SUIT', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -0.4px;
    text-decoration-line: underline;
}
