.findContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 580px;
    padding: 40px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.findCompleteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 360px;
    margin: auto;
    background: #fff;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.findText {
    font-size: 28px;
    font-weight: 500;
}

.findId, .findPassword, .find_complete {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
}
.findId, .findPassword, .find_complete {
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: -0.48px;
    width:390px;
    margin:52px 0 0 69px;
}

.find_complete {
    margin:52px 0 0 120px;
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    letter-spacing: -0.32px;
}

.find_complete_password {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    letter-spacing: -0.32px;
}

.find_complete_Main {
    color: #000;
    text-align: center;
    font-family: 'SUIT',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: -0.48px;
    width: 320px;
    word-break: keep-all;
    height:72px;
    margin: 94px 0 20px 0;
}


.findTitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 32px;
    text-align: center;
}

.inputGroup {
    width: 400px;
    margin-bottom: 24px;
    height:55px;
}

.input, .inputError {
    pointer-events: auto;
    width: 400px;
    height:55px;
    flex-shrink: 0;
    background: #F4F4F4;
    padding: 12px;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    color: #757575;
    font-family: 'SUIT',sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    margin:46px 0 136px 70px;
}

.inputError {
    border: 2px solid red;
}

.errorText {
    color: #d32f2f;
    font-size: 14px;
    height: 20px;
    display: block;
    margin:-120px 0 0 68px;
}

.findUserIdButton, .findButton, .findCompleteButton {
    margin:156px 83px 69px 69px;
    padding: 12px;
    text-transform: uppercase;
    width:400px;
    height: 60px;
    flex-shrink: 0;
    background: #1C3C29;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #FFF;
    font-family: 'SUIT',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}
.findCompleteButton {
    margin-top:69px;
}

.findButton:disabled, .findUserIdButton:disabled {
    background-color: #a5d6a7;
    cursor: default;
}

.findUserIdButton {
    margin-top:136px;
}

.idMessage,
.passwordMessage {
    color: #4CAF50;
    font-size: 14px;
    margin-top: 16px;
    text-align: center;
}

.errorMessage {
    color: #d32f2f;
    margin-top: 16px;
    text-align: center;
}

.tabs {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 580px;
    float: left;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tabButton {
    float: left;
    width: 580px;
    border-bottom: 3px solid #dddddd;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabButton:hover {
    border-bottom: 2px solid #00A241;
}

.activeTab {
    border-bottom: 2px solid #00A241;
    color: #1C3C29;
    font-family: 'SUIT',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}

@media (min-width: 1600px) {

}

@media (min-width: 1200px) {
}
