.header_menu {
    float: right;
    margin: 50px 0 0 100px;
    padding: 0;
    list-style: none;
}

.header_link {
    display: inline;
    padding: 0 20px;
}

.header_link_a {
    color: #757575;
    text-decoration: none;
    font-size: 16px;
}

.header_link_a:hover {
    font-weight: 700;
    color: #000000;
}

.header_link_login {
    position: absolute;
    right:100px;
    top:115px;
    color: #757575;
    text-decoration: none;
    font-size: 16px;
}

.header_link_login:hover {
    font-weight: 700;
    color: #000000;
}
