.container {
    padding: 0 2rem;
}

.main {
    height: 100vh;
    flex: 1;
    background: linear-gradient(to bottom, #f1fff7 0%, #91ffbd 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden; /* join에서는 지웠는데 고민 */
}

.header {
    display: flex;
    width: 100vw;
    padding: 50px 50px 30px 50px;
    align-items: center;
    font-family: 'GmarketSansMedium', serif;
    color: #00a241;
    font-size: 20pt;
    user-select: none;
}

.content {
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    position: relative;
}

.section {
    flex: 1;
    width: 100vw;
    padding: 0 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content_basic, .content_bold, .image_container, .check {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 530px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.content_basic {
    top: 10%;
    font-size: 20px;
    font-weight: 500;
}

.content_bold {
    top: 20%;
    font-size: 30px;
    font-weight: 700;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(30, end) 1s forwards, blink-caret .75s step-end infinite;
}

.image_container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.check {
    top: 90%;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #00a241;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'GmarketSansMedium', serif;
}



