.joinContainer {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.joinTitle {
    color: #000;
    text-align: center;
    font-family: 'SUIT';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 78px */
    letter-spacing: -1.04px;
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 20px;
}

.input, .input_email, .inputError, .inputVerification {
    width:600px;
    height:45px;
    padding: 10px 20px;
    border:none;
    background-color: #ffffff;
}

.input_email {
    margin-right:5px;
    width: 190px;
}

.inputVerification {
    width: 480px;
}

.selectDomain {
    margin-left: 5px;
    padding: 10px 20px;
    background-color: #ffffff;
}

.inputError {
    border: 2px solid red;
}

.errorText {
    color: red;
    font-size: 0.75rem;
    margin-top: 5px;
}

.submitButton {
    width: 600px;
    height: 55px;
    flex-shrink: 0;
    background: #1C3C29;
    color: #FFF;
    font-family: SUIT;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.48px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.verifyButton {
    width: max-content;
    flex-shrink: 0;
    margin-left: 20px;
    border: 1px solid #A8A8A8;
    background: #00A241;
    padding: 8px 20px;
}
