.like_text {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 51.2px */
    letter-spacing: -0.64px;
    margin: 24px 210px;
}

.like_container {
    width: 1000px;
    height: 760px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFFEFE;
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.60) 0.7%, rgba(255, 255, 255, 0.18) 98.16%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    margin: 45px 210px 45px 210px;
}

.like_list_templete {
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    background: #FFF;
    margin: 0 20px;
}

.like_item_container {
    width: 915px;
    height: 100px;
    margin: 20px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B5FCD1;
}

.title {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;
    margin:20px 20px 20px 20px;
}

.date {
    color: #757575;
    font-family: 'SUIT',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
    margin:-40px 20px 0 0;
    float:right;
}

.place {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
}

.district {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
}

.delete {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
    border :none;
    margin:-40px 20px 0 0;
    float:right;
}

.imageContainer {
    display: flex;
    justify-content: flex-end;
    margin-right:232px;
    width: 100%;
}

.no_hospitals {
    width:960px;
    height:560px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no_like_image {
    flex-shrink: 0;
}

.no_like {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 64px */
    letter-spacing: -0.8px;
}
.no_like_text {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 64px */
    letter-spacing: -0.8px;
}

.click_survey{
    width: 240px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #1C3C29;
    color: #FFF;
    text-align: center;
    font-family: 'SUIT', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    letter-spacing: -0.48px;
    margin-top:39px;
}

.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupContainer div,
.popupContainer button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.popupContainer button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.popupContainer button:last-child {
    background-color: #4caf50;
}

.popupContainer button:hover {
    opacity: 0.9;
}


.clickedItem {
    background-color: red;
}
