.like_text {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 51.2px */
    letter-spacing: -0.64px;
    margin: 24px 23%;
}

.like_container {
    width: 1000px;
    height: 760px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFFEFE;
    background: linear-gradient(116deg, rgba(255, 255, 255, 0.60) 0.7%, rgba(255, 255, 255, 0.18) 98.16%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    margin: 45px 25%;
    overflow-y:auto;
}

.like_container::-webkit-scrollbar {
    display: none;
}

.like_container {
    scrollbar-width: none;
}

.like_item_container {
    position: relative;
    width: 960px;
    height: 100px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: linear-gradient(91deg, rgba(181, 252, 209, 0.50) 0%, rgba(181, 252, 209, 0.15) 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    cursor: pointer;
}

.like_item_container::after {
    content: "";
    display: block;
    clear: both;
}

.title, .title_bottom {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;
    margin-bottom:20px;
    margin-left:20px;
}

.title {
    margin-top:10px;
    margin-bottom:20px;
    margin-left:20px;
}

.date {
    color: #757575;
    font-family: 'SUIT',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
    margin:-50px 20px 0 0;
    float:right;
}

.place {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
    margin-right:20px;
}

.district {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
    margin-left:20px;
}

.delete {
    color: #000;
    font-family: 'SUIT',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
    border :none;
    margin:-48px 20px 0 0;
    float:right;
    cursor: pointer;
}

.imageContainer {
    display: flex;
    justify-content: flex-end;
    margin-right:232px;
    width: 100%;
}

.no_hospitals {
    width:960px;
    height:574px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 20px;
}

.no_like_image {
    flex-shrink: 0;
}

.no_like {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 64px */
    letter-spacing: -0.8px;
}
.no_like_text {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 64px */
    letter-spacing: -0.8px;
}

.click_survey{
    width: 240px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #1C3C29;
    color: #FFF;
    text-align: center;
    font-family: 'SUIT', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    letter-spacing: -0.48px;
    margin-top:39px;
}

@media screen and (max-width: 1919px) and (min-width: 1600px)  {
    .like_text {
        color: #000;
        font-size: 28px;
        letter-spacing: -0.56px;
        margin: 24px 19%;
    }

    .like_container {
        width: 600px;
        height: 390px;
        margin: 45px 22%;
    }

    .like_item_container {
        width: 760px;
        height: 80px;
    }

    .title, .title_bottom {
        font-size: 18px;
        letter-spacing: -0.36px;
        margin-bottom:4px;
        margin-left:20px;
    }

    .date {
        font-size: 12px;
        letter-spacing: -0.24px;
        margin:-28px 20px 0 0;
    }

    .place {
        font-size: 14px;
        letter-spacing: -0.28px;
    }

    .district {
        font-size: 14px;
        letter-spacing: -0.28px;
    }

    .delete {
        font-size: 12px;
        margin:-28px 20px 0 0;
    }

    .imageContainer {
        display: flex;
        justify-content: flex-end;
        margin-right:232px;
        width: 100%;
    }

    .no_hospitals {
        width: 760px;
        height: 400px;
    }

    .no_like_image {
        flex-shrink: 0;
    }

    .no_like {
        font-size: 32px;
        letter-spacing: -0.48px;
    }
    .no_like_text {
        font-size: 24px;
        line-height: 160%; /* 64px */
        letter-spacing: -0.48px;
    }

    .click_survey{
        width: 200px;
        height: 50px;
        font-size: 18px;
        letter-spacing: -0.36px;
        margin-top:39px;
    }
}

@media screen and (max-width: 1599px) and (min-width: 1280px) {
    .like_text {
        font-size: 24px;
        letter-spacing: -0.48px;
        margin: 24px 25%;
    }

    .like_container {
        width: 80%;
        height: 460px;
        margin: 45px 10%;
    }

    .like_item_container {
        width: calc(100% - 40px);
        height: 100px;
        margin: 20px;
    }

    .title, .title_bottom {
        font-size: 16px;
        letter-spacing: -0.32px;
        margin-bottom: 16px;
        margin-left: 10px;
    }

    .date {
        font-size: 12px;
        letter-spacing: -0.24px;
        margin: -40px 10px 0 0;
    }

    .place, .district {
        font-size: 14px;
        letter-spacing: -0.28px;
    }

    .delete {
        font-size: 12px;
        margin: -40px 10px 0 0;
    }

    .imageContainer {
        margin-right: 10%;
    }

    .no_hospitals {
        width: calc(100% - 40px);
        height: 400px;
        margin: 0 20px;
    }

    .no_like, .no_like_text {
        font-size: 28px;
        letter-spacing: -0.56px;
    }

    .click_survey {
        width: 180px;
        height: 50px;
        font-size: 16px;
        letter-spacing: -0.32px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1279px) {
    .like_text {
        font-size: 20px;
        letter-spacing: -0.4px;
        margin: 24px 10%;
    }

    .like_container {
        width: 90%;
        height: auto;
        margin: 45px 5%;
    }

    .like_item_container {
        width: 90%;
        height: auto;
        margin: 20px 5%;
    }

    .title, .title_bottom {
        font-size: 14px;
        margin-left: 10px;
    }

    .date, .delete {
        font-size: 10px;
        margin: -40px 10px 0 0;
    }

    .place, .district {
        font-size: 12px;
    }

    .imageContainer {
        margin-right: 5%;
    }

    .no_hospitals {
        width: 90%;
        height: auto;
        margin: 0 5%;
    }

    .no_like, .no_like_text {
        font-size: 24px;
    }

    .click_survey {
        width: 150px;
        height: 45px;
        font-size: 14px;
        margin-top: 20px;
    }
}
