.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.loginTitle {
    color: #000;
    text-align: center;
    font-family: 'SUIT';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 78px */
    letter-spacing: -1.04px;
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 20px;
}


.input,.inputError {
    width: 600px;
    height: 45px;
    flex-shrink: 0;
    border: 1px solid #ECECEC;
    background: #FFF;
    padding: 10px 20px;
}
.inputError {
    border: 2px solid red;
}

.errorText {
    color: red;
    font-size: 0.75rem;
    margin-top: 5px;
}

.submitButton {
    width: 600px;
    height: 55px;
    flex-shrink: 0;
    background: #1C3C29;
    color: #FFF;
    font-family: 'SUIT';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.48px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}

.hr {
    width: 600px;
    height: 0;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #00A241;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left:29%;
    width: 600px;
}

.join, .findId, .findPassword {
    color: #757575;
    font-family: 'SUIT';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.4px;
    cursor: pointer;
    text-decoration: none;
}

.join {
    text-align: left;
}

.findId, .findPassword {
    text-align: right;
}

.findId {
    margin-right: 10px;
}
