.logoutButton {
    width: 132px;
    height: 50px;
    flex-shrink: 0;
    background: #1C3C29;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: #FFF;
    font-family: 'SUIT', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    width: 500px;
    height: 250px;
    flex-shrink: 0;
    background: #FFF;
    text-align: center;
}

.modalText {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.48px;
    margin: 58px 0 37px 18px;
}


.closeButton {
    width: 132px;
    height: 50px;
    flex-shrink: 0;
    background: #4B8060;
    gap:10px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    color: #FFF;
    font-family: 'SUIT';
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
}
