.myPageContainer {
    width: 1000px;
    height: 850px;
    flex-shrink: 0;
    margin: 0 25%;
}

.profileContainer {
    width: 960px;
    height: 180px;
    flex-shrink: 0;
    background: #FFF;
    margin:20px;
}

.profileInfo {
    display: flex;
    align-items: center;
    height:100%;
    width:100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin:15px 15px 20px;
}

.profileImage {
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #A8A8A8!important;
}

.profileText {
    margin-left: 20px;
}

.username {
    font-family: 'SUIT', sans-serif;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: -0.56px;
}

.userId {
    color: #757575;
    text-align: left;
    font-family: 'SUIT', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.4px;
}

.userButton {
    margin:0 0 0 20px;
    width: 120px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #1C3C29;
    padding: 5px 10px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: 'SUIT',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
}

.likedListContainer {
    color: #000;
    margin:20px;
    font-style: normal;
    line-height: 160%;
    letter-spacing: -0.5px;
    font-family: 'SUIT',sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.likedListContainer:hover::before {
    width: 10px;
    height: 18px;
    flex-shrink: 0;
    fill: #000;
    content: url('/assets/icon/ic_go.png');
    margin-right:28px;
}

@media (max-width: 768px) {
    .myPageContainer {
        width: 100%;
        height: auto;
        margin: 0 20px;
    }

    .profileContainer {
        width: calc(100% - 80px);
        margin: 20px;
    }

    .profileInfo {
        display: flex;
        height:100%;
        width:100%;
    }

    .imageContainer {
        margin: 15px;
    }

    .profileText {
        margin-left: 0;
    }

    .userButton {
        margin: 10px;
    }

    .likedListContainer {
        font-size: 18px;
        margin: 20px;
    }

    .likedListContainer:hover::before {
        margin-right: 10px;
    }
}


