.container {
    padding: 0 2rem;
}

.main {
    height: 100vh;
    flex: 1;
    background: linear-gradient(to bottom, #f1fff7 0%, #91ffbd 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.header {
    position: sticky;
    display: flex;
    width: 100vw;
    padding: 50px 50px 30px 50px;
    align-items: center;
    font-family: 'GmarketSansMedium', serif;
    color: #00a241;
    font-size: 20pt;
    user-select: none;
}

.logo_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo_text {
    margin-left: 10px;
}

.content {
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    position: relative;
}

.section {
    flex: 1;
    width: 100vw;
    padding: 0 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content_basic, .content_bold, .image_container, .check {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 530px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.content_basic {
    top: 10%;
    font-size: 20px;
    font-weight: 500;
}

.content_bold {
    top: 20%;
    font-size: 30px;
    font-weight: 700;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(30, end) 1s forwards, blink-caret .75s step-end infinite;
}

.image_container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.check {
    top: 90%;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #00a241;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'GmarketSansMedium', serif;
}

.quizContainer {
    margin: 100px 0 20px 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.question_num, .question_complete {
    margin-bottom: 20px;
    margin-left: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #D9D9D9;
    font-size: 30px;
}

.question_complete {
    text-align: center;
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    letter-spacing: -0.56px;
    width: 180px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    margin-left: 40vw;
}

.question {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 515px;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.question {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(30, end) 1s forwards, blink-caret .75s step-end infinite;
}

.question_complete_title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
}

.options,.max_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 84px;
}

.max_options {
    max-width: 900px;
    margin: 84px 0 0 260px;
}

.option {
    padding: 10px 15px;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #e7e7e7;
}


.home_button {
    float: right;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 38px;
    width: 124px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
}

.share_button {
    float: right;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1px;
    margin-right: 50px;
    width: 124px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-bottom: 38px;
    background: #D9D9D9;
}

.before_button {
    float: left;
    margin-left: 50px;
    margin-bottom: 38px;
    font-weight: 600;
    width: 162px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
}

.survey_text, .disease, .department {
    word-break: keep-all;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: -0.4px;
    width:130px;
}

.disease {
    background-color: red;
    margin-right: 80px;
}

.department {
    background-color: green;
}
