.profileContainer {
    margin: 25px auto;
    width: 1000px;
    height: 800px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #ECECEC;
    background: #FFF;
    padding-left: 20px;
    box-sizing: border-box;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profileImage {
    margin: 0 auto !important;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #A8A8A8 !important;
    display: block;
}

.profileEdit {
    color: #757575;
    cursor: pointer;
    margin-top: 5px;
    margin-right:20px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.32px;
    text-decoration-line: underline;
}

.likedListContainer {
    margin-bottom: 69px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.48px;
}

.userAsk, .userAnswer {
    border: none;
    color: #000;
    width: auto;
    height: 55px;
    flex-shrink: 0;
    font-family: 'SUIT', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.32px;
}

.userAnswer {
    cursor: pointer;
    margin-left: 85px;
}

.errorMessage {
    color: red;
    margin-top: 10px;
    font-family: 'SUIT', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
    text-align: left;
    margin-left: 125px;
}

.userAnswer:hover {
    border: 1px solid #ECECEC;
}

.hint {
    color: #757575;
    font-family: 'SUIT', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: -0.28px;
    text-align: left;
    margin-left: 125px;
}

.userNameChangeButton {
    width: 90px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #1C3C29;
    margin-left: 10px;
    color: #FFF;
    text-align: center;
    font-family: 'SUIT', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 10px */
    letter-spacing: -0.2px;
}

.editButton {
    width: 550px;
    height: 65px;
    flex-shrink: 0;
    background: #1C3C29;
    margin: 0 0 55px 25%;
    cursor: pointer;
    color: #FFF;
    font-family: 'SUIT', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    letter-spacing: -0.4px;
}

.basic_img {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 100px;
    border: 1px solid #A8A8A8;
    background: #FFF;
}

.fileInput {
    display: block;
    margin: 20px auto;
}

.imagePreview {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.images_container {
    height: 200px;
    justify-content: center;
    display: inline-flex;
}

.images_container_second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.checkButton {
    width: 720px;
    padding: 12px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background: #1C3C29;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 300px;
}

.selected {
    border: 2px solid #000;
}

.imagePreviewContainer {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 298px;
    height: 298px;
    flex-shrink: 0;
    border-radius: 199px;
    border: 1px solid #A8A8A8;

    background: #FFF;
}

@media (max-width: 768px) {
    .profileContainer {
        width: 90%;
        height: auto;
        padding-left: 10px;
        margin: 20px auto;
    }

    .imageContainer, .images_container, .images_container_second {
        display: block;
        margin-top: 20px;
        text-align: center;
    }

    .profileImage, .basic_img, .imagePreviewContainer {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50px;
    }

    .userAsk, .userAnswer {
        width: 90%;
        margin: 10px auto;
    }

    .userAnswer {
        margin-left: 0;
    }

    .editButton, .checkButton {
        width: 90%;
        margin: 20px auto;
    }

    .errorMessage, .hint {
        margin-left: 10px;
    }

    .userNameChangeButton {
        margin-left: 5px;
    }
}
